{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>{{ killer.name }}</h3>
    
    <div class="well">
      
    </div>
</div>
{% endblock %}