{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>Voici la liste de vos participations aux Killers!</h3>
    
    <ul class="nav nav-pills nav-stacked">
    	{% for killer in killers %}
    	{# On inclut la vue à chaque itération dans la boucle #}
    	<li role="presentation">
            <a  href="{{ path('games_killer_consultKiller', {'name': killer.name} ) }}">
                <span class="glyphicon glyphicon-chevron-right"></span>
                {{ killer.name }}
            </a>
        </li>
		<div class="well">
		    {% include "GamesKillerBundle:Default/Tool:displayAKillerInformations.html.twig" %}	
		</div>		
		<hr />  
    	{% else %}
    		<p>
    		  Pas inscrit à un Killer? Allez Hop, par ici :
    		  <a href="{{ path('games_killer_index' ) }}">Je veux participer à un killer!</a>
    		</p>
    	{% endfor %}
    </ul>

</div>
{% endblock %}


{% block script %}
    <script> $('#consultListParticipationKiller').addClass('active')</script>
{% endblock %}
