{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>Voici la liste de vos Killers!</h3>
    
    <ul class="nav nav-pills nav-stacked">
    	{% for killer in killers %}
    	{# On inclut la vue à chaque itération dans la boucle #}
    	<li role="presentation">
            <a  href="{{ path('games_killer_consultKiller', {'name': killer.name} ) }}">
                <span class="glyphicon glyphicon-chevron-right"></span>
                {{ killer.name }}
            </a>
		</li>
		<div class="well">
		    {% include "GamesKillerBundle:Default/Tool:displayAKillerInformations.html.twig" %}
		</div>		
		<hr />    
    	{% else %}
            <div class="well">
    		  <div class="col-sm-12">
    		      <p>
        		      Pas (encore !) de Killer ? Allez Hop, par ici :
        		      <a href="{{ path('games_killer_createKiller' ) }}">
        		          <span class="glyphicon glyphicon-chevron-right"></span>
        		          Je veux créer un killer!
        		      </a>
    		      </p>
    		  </div>
    		  <br />
    	    </div>
    	{% endfor %}
    </ul>

</div>
{% endblock %}


{% block script %}
    <script> $('#consultListCreatedKiller').addClass('active')</script>
{% endblock %}
