{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>Crééz votre compte. C'est par ici!</h3>
    
    <div class="well">
      {{ form(form) }}
    </div>
</div>
{% endblock %}